.app-container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  font-family: "Segoe UI", sans-serif;
  background-color: #E1D3CA;
  color: #C4737C;
}

h1, h2 {
  color: #9b414b;
}

.section {
  background-color: #F3EEE9;
  padding: 1.2rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px #C4737C;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.section:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px #C4737C;
}

ul {
  padding-left: 1.4rem;
}

li {
  margin-bottom: 0.5rem;
}

strong {
  color: #c15763;
}
